<template>
  <div class="page-container" style="min-height: 100vh;">
    <md-app>
      <md-app-toolbar class="md-primary">
        <span class="md-title">Sector survey</span>
      </md-app-toolbar>


      <md-app-content style="min-height: 100vh;">
        <p v-if="!userId">
          Add new user with sectors
        </p>
        <p v-if="userId">
          Edit user
        </p>
        <md-field>
          <label>Name</label>
        <md-input v-model="name"></md-input>
        </md-field>
        <treeselect
          :multiple="true"
          :options="sectors"
          :value-consists-of="'ALL'"
          placeholder="Select sectors you are involved in"
          v-model="userSectors"
        />
        <div>
          <md-checkbox v-if="userId==null" v-model="termsAccepted">Agree to terms</md-checkbox>
        </div>
        <div>
          <md-button v-on:click="save">Save</md-button>
          <md-button v-on:click="clearForm">Clear form</md-button>
        </div>
      </md-app-content>
    </md-app>

    <md-snackbar :md-active.sync="snack">{{ snackResponse }}</md-snackbar>

  </div>
</template>

<script>
    import config from "@/constants/config";
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        name: 'TabContent',
        components: {
            Treeselect
        },
        data() {
            return {
                loading: false,
                name: null,
                userSectors: null,
                sectors: [],
                snack: false,
                snackResponse : null,
                userId: null,
                termsAccepted: null,
                token: null,
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.fetchSectors();
                if (localStorage.token) {
                    this.token = localStorage.token;
                }
                if (localStorage.userId && localStorage.userId != null &&
                    localStorage.userId != 'null') {
                    this.userId = localStorage.userId;
                    this.fetchUser();
                }

            })
        },
        watch: {
            userId(newUserId) {
                localStorage.userId = newUserId;
            },
            token(newToken) {
                localStorage.token = newToken;
            }
        },
        methods: {
            fetchSectors() {
                const baseURI = config.BASE_URL + '/sectors';
                this.loading = true;
                let mapSectors = sectors => {
                    return sectors.map(s => {
                        s.label = s.name
                        if (s.sectors) {
                            s.children = mapSectors(s.sectors)
                        }
                        return s;
                    });
                }
                this.$http.get(baseURI)
                    .then((result) => {
                        this.sectors = mapSectors(result.data.sectors);
                    })
                    .catch(e => this.showMessage(true, e.message))
                    .finally(() => this.loading = false);
            },
            fetchUser() {
                const baseURI = config.BASE_URL + '/user/' + this.userId;
                this.loading = true;
                this.$http.get(baseURI)
                    .then((result) => {
                        this.userSectors = result.data.userSectors.map(s => s.sectorId);
                        this.name = result.data.name;
                    })
                    .catch(e => {
                        this.showMessage(true, e.message);
                        this.userId = null;
                        this.token = null;
                    })
                    .finally(() => this.loading = false);
            },
            save() {
                if (!this.termsAccepted && !this.userId) {
                    return this.showMessage(true, 'Agree to terms, to submit sectors!');
                }
                Promise.resolve()
                    .then(() => {
                        if (this.userId == null) {
                            return this.addUser();
                        } else {
                            return this.updateUser();
                        }
                    })
                    .then(() => this.showMessage(false, 'Data saved!'))
                    .catch((e) => {
                        if (e.response.data.code == 12) {
                            this.userId = null;
                        }
                        this.showMessage(true, e.response.data.message)
                    })
                    .finally(() => this.loading = false);
            },
            addUser() {
                const baseURI = config.BASE_URL + '/users';
                return this.$http.post(baseURI, this.getPostData())
                    .then((result) => {
                        this.userId = result.data.userData.id;
                        this.token = result.data.token;
                    })
            },
            updateUser() {
                const baseURI = config.BASE_URL + '/user/' + this.userId + '?token=' + this.token;
                return this.$http.put(baseURI, this.getPostData());
            },
            getPostData() {
                let postData = {
                    name: this.name
                }
                if (!this.userId) {
                    postData.termsAccepted = this.termsAccepted;
                }
                postData.userSectors = this.userSectors.map(s => {
                    return {sectorId: s}
                });
                return postData;
            },
            showMessage(error, message) {
                this.snack = true;
                this.snackResponse = (error ? 'ERROR: ' : '') + message;
            },
            clearForm() {
                this.userId = null;
                this.token = null;
                this.termsAccepted = false;
                this.userSectors = [];
            }
        },
        rules: [
            // ... other rules omitted

            // this will apply to both plain `.scss` files
            // AND `<style lang="scss">` blocks in `.vue` files
            {
                test: /\.scss$/,
                use: [
                    'vue-style-loader',
                    'css-loader',
                    'sass-loader'
                ]
            }
        ]
    }
</script>

<style lang="scss" scoped>
    .md-app {
        height: 100%;
        border: 1px solid rgba(#000, .12);
    }
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
    .md-dialog .md-dialog-container {
        max-width: 768px;
    }
</style>
